engine-strict = true
//repo.coreteq.cloud/repository/libs-release-npm/:_authToken=NpmToken.f2752920-a992-3900-b23c-bbdfe69033f6
@mixin-ui:registry=https://repo.coreteq.cloud/repository/libs-release-npm/
